# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Ignore everthing
app/*

# Whitelist wp-content
!/app/wp-content/
/app/wp-content/*

# Whitelist themes
!/app/wp-content/themes/
/app/wp-content/themes/*

!/app/wp-content/themes/elancer-starter/
!/app/wp-content/mu-plugins/
